<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<app version="1.0">
    <name>Hexasweeper</name>
    <coder>Roddy Rappaport</coder>
    <version>development-version</version>
    <release_date></release_date>
    <short_description>An hexagonal version of the game minesweeper</short_description>
    <long_description></long_description>
</app>